body {
	font-family: sans-serif;
	font-size: .8em;
	margin: 0;
	padding: 0;
	width: 396px;
}

header {
	word-break: break-all;
}

.url-holder {
	word-break: break-all;
	font-size: .9em;
}

.url-holder a {
	outline: none;
}

#debug { 
	padding: 1em;
}

table {
	margin-top: 1em;
	border-collapse: collapse;
	width: 100%;
}

tr {
	border-bottom: 1px solid rgba(0,0,0,.05);
}

tr:last-child {
	border-bottom: none;
}

tr:hover {
	background-color: rgba(0,0,0,.1);
}

th, td {
	vertical-align: top;
}

th {
	text-align: left;
	font-weight: normal;
}

th.unknown {
	font-style: italic;
}

th.key {
	color: #999;
	padding-right: .24em;
}

th.key::after {
	/*content: '.';*/
}

td {
	font-weight: bold;
}

td.missing {
	font-weight: normal;
	font-style: italic;
	color: #999;
}

td.missing.mandatory {
	color: red;
	font-weight: bold;
}
td.missing.mandatory::after {
	content: '(!)';
}

.readable-date {
	font-weight: normal;
	font-style: italic;
	color: #999;
	display: block;
}

footer {
	padding: .3em 1em 1em 1em;
	text-align: right;
	color: #999;
	font-size: .8em;
}

footer svg {
	width: 12px;
	height: 12px;
	position: relative;
	top: 2px;
}
